@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}

/* Rotating animation */
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-text {
  animation: rotateCircle 12s linear infinite;
  transform-origin: center;
}